.cover__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  padding: 20px;
  background-image: url('../../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.cover__link::before {
  content: '';
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
  top: 0;
  left: 0;
}

.cover__link:hover::before {
  opacity: .8;
}

/* Точка перелома между 1024 и 1280 */
@media screen and (max-width: 1152px) {
  .cover__link {
    min-height: 640px;
  }
}

/* Точка перелома между 768 и 1024 */
@media screen and (max-width: 896px) {
  .cover__link {
    min-height: 480px;
  }
}

/* Точка перелома между 320 и 768 */
@media screen and (max-width: 544px) {
  .cover__link {
    min-height: 200px;
  }
}
