.place__image {
  width: 460px;
  height: 460px;
  margin: 48px 40px 0 0;
  object-fit: cover;
}

/* Точка перелома между 1024 и 1280 */
@media screen and (max-width: 1152px) {
  .place__image {
    width: 440px;
    height: 440px;
    margin-right: 32px;
  }
}

/* Точка перелома между 768 и 1024 */
@media screen and (max-width: 896px) {
  .place__image {
    width: 340px;
    height: 340px;
    margin-right: 28px;
  }
}

/* Точка перелома между 320 и 768 */
@media screen and (max-width: 544px) {
  .place__image {
    width: 320px;
    height: 320px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
  }
}
