.footer__link {
  color: #fff;
  text-decoration: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12px;
  text-rendering: optimizeLegibility;
  opacity: 1;
  transition: 0.5s linear;
}

.footer__link:hover {
  opacity: .8;
}

/* Точка перелома между 320 и 768 */
@media screen and (max-width: 544px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
