.intro__text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin-top: 40px;
  margin-bottom: 0;
  text-rendering: optimizeLegibility;
}
