.cover {
  margin: 92px auto 0;
  max-width: 1184px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* Точка перелома между 1024 и 1280 */
@media screen and (max-width: 1152px) {
  .cover {
    margin: 92px auto 0;
    max-width: 1024px;
  }
}

/* Точка перелома между 768 и 1024 */
@media screen and (max-width: 896px) {
  .cover {
    margin: 90px auto 0;
    max-width: 100%;
  }
}

/* Точка перелома между 320 и 768 */
@media screen and (max-width: 544px) {
  .cover {
    margin: 66px auto 0;
    max-width: 100%;
  }
}
