.cover__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  margin: 0 0 32px;
  max-width: 560px;
  text-rendering: optimizeLegibility;
}

/* Точка перелома между 320 и 768 */
@media screen and (max-width: 544px) {
  .cover__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
