.place__website {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Точка перелома между 768 и 1024 */
@media screen and (max-width: 896px) {
  .place__website {
    max-width: 352px;
  }
}

/* Точка перелома между 320 и 768 */
@media screen and (max-width: 544px) {
  .place__website {
    width: 288px;
    flex-direction: column;
  }
}
