.intro__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* Точка перелома между 320 и 768 */
@media screen and (max-width: 544px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
